.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.about-content{
    width: 45%;
    border: 2px solid #ddd;
    border-radius: 10px;
    list-style: disc;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    padding: 10px 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}
.about-content li{
    margin: 10px 30px;
    font-weight: normal;
    color: #666;
    font-size: 2rem;
    margin: 10px 0;
    padding: 20px;
}
.about-content h1{
   font-family: Arial, Helvetica, sans-serif;
   margin: 10px 20px;
}

hr{
    width: 80%;
    border: 2px solid #ddd;
}
    