.sidebar{
    width: 20%;
    padding-top: 20px;
    background-color: #ddd;
    /* height: 80vh; */
}
.sidebar-container{
    width: 100%;
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    align-items: center;
    gap:70px;
    font-size: large;
    font-weight: 600;
}
.sidebar-links{
    text-decoration: none;
    font-size: 20px;
    width: 90%;
    font-weight: 500;
    color: black;
}
.sidebar-container p{
    background-color: lightgray;
    width: 90%;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
    cursor: pointer;
}   
.sidebar-container p:hover{
    background-color: lightgreen;
    width: 90%;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
}   

.sidebar-logout{
    padding: 10px;
    font-size: 20px;
    font-weight: 400px;
    background-color:antiquewhite;
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 20px;
    cursor: pointer;
    
}
.sidebar-logout:hover{
    background-color: #ff4444;
    color: white;
}